python-dotenv
torch
numpy
PyMuPDF
faiss-cpu
sentence-transformers
rank_bm25
scikit-learn
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
requests
streamlit
duckduckgo-search
chromadb
tiktoken
